$primary: #202020;
$secondary: #121212;
$white: #fff;
$border: #1C1C1C;
$red: #ED3024;
$blue: #2A5FE7;
$header: &0D0D0D;

$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 300px;
$sidebar-color: #DEDEDE;
$post-color-text: #D2D2D2;